<footer class="site-footer">
  <div class ="footer-wrapper">
    <div class ="footer-left">
      <div>
        <a href="#" class="logo"><span>LA</span><i class='bx bxs-circle'></i>BL<i class='bx bx-heart pulse'></i>G
        </a>
      </div>
      <p>La's Blog is created on purpose for personal used only. I love travel as well as trying out any local food of each place I've visited.</p>
      <p>Follow me on:</p>
      <div class ="social-icons">
        <ul>
          <li><a href="#"><i class='bx bxl-facebook' ></i></a></li>
          <li><a href="#"><i class='bx bxl-instagram-alt' ></i></a></li>
          <li><a href="#"><i class='bx bxl-youtube' ></i></a></li>
          <li><a href="#"><i class='bx bxl-tiktok' ></i></a></li>
        </ul>
      </div>
    </div>
    <div class ="footer-middle">
      <div class ="topic">
        <div class="topic-header">
          <h4>Reading Topics</h4>
        </div>
        <div class="topic-content">
        <div class="topic-first">
          <li><a href="#">Travel</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Place</a></li>
          <li><a href="#">Hotel</a></li>
          <li><a href="#">Homestay</a></li>
        </div>

        <div class="topic-second">
          <li><a href="#">With love</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Study</a></li>
          <li><a href="#">Health Care</a></li>
          <li><a href="#">Personal</a></li>
        </div>
        </div>
      </div>
    </div>
    <div class ="footer-right">
      <div class = "newsletter-header">
        <h4>News-letter</h4>
      </div>
      <p>Dont miss out my newest updated articles and subcribe below</p>
      <div class="contact-form">
                <form method="post">
                    <div class = "input-top">
                    <input type="text" name ="name" placeholder="Your name" required>
                    <input type="email" name ="email" placeholder="Email Address" required>
                    </div>
                    <input type="submit" name="" value="Subcribe" class="send-btn">
                </form>
            </div>
    </div>
  </div>
  <div class="copyright">
    <p>© 2024 Catie. All rights reserved.</p>
  </div>
</footer>