<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/" class="logo"><span>LA</span><i class='bx bxs-circle'></i>BL<i class='bx bx-heart pulse'></i>G
        </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li class="nav-home">
            <a href="/">Home</a>
          </li>
          <li class="nav-blog">
            <a href="/blog/">Blog</a>
          </li>
          <li class="nav-gallery">
            <a href="/gallery/">Gallery</a>
          </li>

          
          {% include "partials/author-header.njk" %}

        </ul>
      </nav>

      

      <div class="menu-btn">
                <div class="hamburger-icon" id="icon">
                        <div class="icon-1" id="a"></div>
                        <div class="icon-2" id="b"></div>
                        <div class="icon-3" id="c"></div>
                        <div class="clear"></div>
                </div>
      </div>
      
      {% include "dark-toggler.njk" %}

    </div>
  </div>
</header>
<script src="/bundle.js"></script>