:root {
  --fs-300: 0.9375rem;
  --fs-400: 1.0625rem;
  --fs-500: 1.375rem;
  --fs-550: 1.485rem;
  --fs-600: 1.875rem;
  --fs-700: 2rem;

  --ff-body: "Poppins", sans-serif;
  --ff-heading: "Poppins", sans-serif;

  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --clr-primary-200: hsla(169, 70%, 95%, 1);
  --clr-primary-300: hsla(169, 100%, 39%, 1);
  --clr-primary-400: hsla(169, 100%, 26%, 1);
  --clr-primary-500: hsla(169, 100%, 16%, 1);

  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-300: hsla(0, 0%, 50%, 1);
  --clr-neutral-400: hsla(0, 0%, 40%, 1);
  --clr-neutral-500: hsla(0, 0%, 60%, 1);
  --clr-neutral-900: hsla(0, 0%, 10%, 1);

  --header-menu: #eeeeee;;
  --main-text: #222831;
  --normal-text: #acacac;
  --active-text: #e98895;
  --active-text1: #ee9ca7;
  --active-text2: #ffdde1;
  --section-even: #f3f3f3;
  --section-odd: #fafafa;
  --toggle-gradient1: #ffdeb3;
  --toggle-gradient2: #f2a83a;
  --line-style: #ffdde1;
  --line-style2: #d8dadc;
  --disable-text: #cacaca;
  --deactive-text: #777;
  --shadow: rgba(113, 113, 113, 0.3);
}

body.dark{
  --header-menu: #222831;
  --main-text: #EEEEEE;
  --normal-text: #acacac;
  --active-text: #e98895;
  --active-text1: #ee9ca7;
  --active-text2: #ffdde1;
  --section-even: #2a303b;
  --section-odd: #242932;
  --toggle-gradient1: #777;
  --toggle-gradient2: #3a3a3a;
  --line-style: #ffdde1;
  --line-style2: #2a303b;
  --disable-text: #717171;
  --deactive-text: #4f4f4f;
  --shadow: rgba(0,0,0,0.3);
}

@media (min-width: 35em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.5rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
  }
}

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* //////////////////////
  General styling
  /////////////////////// */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  color: var(--main-text);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: var(--fw-900);
  line-height: 1.1;
}

strong {
  font-weight: var(--fw-700);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

section.hero {
  background: var(--section-odd);
}

section.featured-articles{
  background: var(--section-even);
}



/* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.flow {
  margin-top: var(--flow-spacer, 1.5em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container.recent {
  padding-top: 6em;
}

.container--narrow {
  max-width: 65rem;
}


.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.text-center {
  text-align: center;
}

/* typgraphy */



.article-title {
  color: var(--active-text1);
}

.section-title {
  color: var(--active-text1);
  background: -webkit-linear-gradient(0deg, var(--active-text), var(--active-text1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 1rem;

}

.article-title {
  font-size: var(--fs-700);
}

.section-title {
  font-size: var(--fs-600);
}


/* //////////////////////
  Header
  /////////////////////// */

@media (max-width: 45.1em) {
 nav {
  display: none;
 }
}



.menu-btn {
  color: var(--main-text);
  font-size: 24px;
  right: 80px;
  width: 40px;
  height: 40px;
  position: absolute;
  display: none;
  padding: 5px;
  background-color: transparent;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.menu-btn:hover {
  cursor: pointer;
}
.icon-1, .icon-2, .icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: var(--main-text);
  transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.hamburger-icon {
  z-index: 1000;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.hamburger-icon.active .icon-1 {
  transform: rotate(40deg);
}
.hamburger-icon.active .icon-3 {
  transform: rotate(-40deg);
}
.hamburger-icon.active .icon-2{
  opacity: 0;
}

@keyframes slideDown {
  0% {
    height: 0;
    transform: scaleY(.3);
    opacity: 0;
    transform: translateY(80);
  }
  
  100% {
    height: auto;
    transform:scaleY(1);
    opacity: 1;
    
  }
}

@media (max-width: 45.1em) {
  header .menu-btn {
    display: block;
    margin-right: 5vw;
  }

  nav.show {
    display: block;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    background: var(--header-menu);
    box-shadow: 0 15px 15px -15px rgba(0,0,0,0.3);
    padding-right: 20vw;
    animation: slideDown 0.6s cubic-bezier(.62,.04,.3,1.56);
    animation-fill-mode:forwards;
    transform:scale(1);
  }

  nav.show .nav-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
    justify-content: space-between;
  }

  nav.show .nav-list a {
    font-size: 28px;
    font-weight: var(--fw-400);
  }

  nav.show .nav-list a::after {
        content: "";
        height: 0.5px;
        background: var(--line-style2);
        width: 84vw;
        position: absolute;
        right: 8vw;
        transform: translateY(54px);
  }

  nav.show .user-container {
    padding-bottom: 20px;
  }

  nav.show .user-container .user-name {
    font-size: var(--fs-500);
  }

  nav.show .user-container i {
    font-size: var(--fs-600);
  }

  nav.show .user-tab {
    position: relative;
    background: transparent;
    top: 15px;
    box-shadow: none;
    height: 150px;
  }
  nav.show .user-control {
    font-size: var(--fs-500);
    justify-content: space-evenly;
  }

  nav.show .user-control li::after {
    content: "";
    height: 0.5px;
    background: var(--line-style2);
    width: 84vw;
    position: absolute;
    right: -14vw;
    transform: translateY(-8px);
}


 }

.page-header {
  padding-bottom: 2em;
  position: fixed;
  width: 100%;
  background: var(--header-menu);
  height: 80px;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  z-index: 100;
  box-shadow: 0 5px 15px var(--shadow);
}

.page-header .container {
  width: 100%;
  margin-inline: 0;
  padding-inline: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 72rem;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
  color: var(--main-text);
  display: inline-block;
  flex-basis: 30%;
  animation: shotup 600ms ease-in-out;
  animation-delay: 0ms;
  gap: 5px;
}

.logo i {
  font-size: 12px;
}


.logo i.pulse {
  background: -webkit-linear-gradient(0deg, var(--active-text1) , var(--active-text2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  transform: translateY(4px);
}

nav {
  margin-left: auto;
  margin-right: 1em;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav-list a {
  color: var(--main-text);
  text-decoration: none;
}

.nav-list a.active {
  color:var(--active-text1);
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--active-text1);
}


.page-header__content .switch-mode {
  background-color: var(--section-odd);
  height: 30px;
  min-width: 60px;
  max-width: 60px;
  justify-content: space-around;
  display: inline-flex;
  align-items: center;
  border-radius: 15px;
  z-index: 110;
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.2), inset 0 -2px 5px rgba(250,250,250,0.2);
  cursor: pointer;
}

.page-header__content .switch-mode .switch-btn{
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  z-index: 120;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.2s ease-out;
  transform: translateX(-15px);
  border-color: 1px solid var(--header-menu);
  background: linear-gradient(180deg, var(--toggle-gradient1), var(--toggle-gradient2));
}

.page-header__content .switch-mode .switch-btn.right{
  transform: translatex(15px);
}

.page-header__content .switch-mode .sun,
.page-header__content .switch-mode .moon {
    color: var(--deactive-text);
    z-index: 130;
    opacity: 0.6;
}

.page-header__content .switch-mode i.active{
  opacity: 1;
  color: var(--main-text);
}

.user-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.user-detail:hover {
  cursor: pointer;
}

.user-logo {
  width: 40px;
  border: 1px solid var(--line-style);
  border-radius: 50%;
  padding: 2px;
  background: var(--header-menu);
  display: block;
}

.user-container .user-detail i {
  font-size: var(--fs-500);
  transform: translateY(4px);
}

.user-detail span {
  font-size: var(--fs-300);
}

.user-detail .usericon {
  transition: all 0.3s ease;
}

.user-detail .usericon.rotate {
  transform: translateY(2px) rotate(90deg);
}


.user-tab {
  display: none;
  position: absolute;
  height: 120px;
  width: 240px;
  background: var(--header-menu);
  top: 90px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.user-tab.show {
  display: block;
}

.user-tab ul {
  list-style: none;
  height: 100%;
  font-size: var(--fs-300);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-tab ul li {
  cursor: pointer;
}

.user-tab ul li.disable {
  color: var(--disable-text);
}



/* //////////////////////
  Footer
  /////////////////////// */

.site-footer {
  padding: 2em 0;
  color: var(--main-text);
  background-color: var(--section-odd);
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;

}

.footer-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 72rem;
  padding: 0 1.5em;
  gap: 50px;
}

@media (max-width: 45.1em) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-middle {
    width: 100%;
  }

  .topic-content {
    padding-right: 20%;
  }

 }

.site-footer .copyright {
  font-size: var( --fs-300);
}

.footer-left {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-left .logo {
  border-bottom: 1px solid var(--line-style);
  width: 90%;
  height: 40px;
}

.footer-left .social-icons{
  width: 100%;
}

.footer-left .social-icons ul{
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  padding-right: 20%;
}

.footer-left .social-icons ul li {
  border: 1px solid var(--line-style);
  border-radius: 5px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer-left .social-icons ul li a {
  color: var(--deactive-text);
  font-size: var(--fs-550);
  transform: translateY(3px);
}


.footer-left .social-icons ul li:hover{
  border: 1px solid var(--active-text1);
  background: linear-gradient(0deg, var(--active-text1) , var(--active-text2));
}

.footer-left .social-icons ul li:hover a{
  color: var(--header-menu);
}

.footer-middle {
  flex-basis: 28%;
  min-width: 13em;
  width: 100%;
}
.topic {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.topic-header,
.newsletter-header {
  border-bottom: 1px solid var(--line-style);
  height: 40px;
  width: 90%;
  display: flex;
  align-items: end;
}

.topic-header h4,
.newsletter-header h4{
  transform: translateY(-4px);
}


.topic-content {
  display: flex;
  justify-content: space-between;
}



.topic-content li {
  list-style: none;
}

.topic-content li a {
  text-decoration: none;
  color: var(--main-text);
}

.topic-first,
.topic-second {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 33%;

}

form input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 0 0 5px var(--normal-text);
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 10px;
}

form input::placeholder{
    color: var(--deactive-text);
    font-size: var(--fs-300);
}

.input-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

form .send-btn {
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background: linear-gradient(0deg, var(--active-text1) , var(--active-text2));
  color: var(--main-text);
  box-shadow: none;
  font-weight: var(--fw-700);
}


/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}

.hero__image {
  width: 100%;
  /* max-height: max(15rem, 40vh); */
  object-fit: cover;
}

@media (min-width: 45em) {
  .hero > div {
    grid-auto-flow: column;
  }
}

.featured-articles {
  background-color: var(--clr-primary-200);
}

.articles__list {
  --flow-spacer: 3rem;
  margin: 6rem 0;
}

/* //////////////////////
  Individual article page
  /////////////////////// */

  .main-article {
    margin-bottom: 3rem;
    padding-top: 5em;
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
  }

/* //////////////////////
  Article snippets
  /////////////////////// */

.snippet {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "image"
    "title"
    "meta"
    "body"
    "button";
}

.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.snippet__title {
  grid-area: title;
}
.snippet__meta {
  grid-area: meta;
  color: var(--normal-text);
}

.snippet__meta span {
  color: var(--main-text);
}

.snippet .btn {
  grid-area: button;
}

.snippet__title {
  color: var(--main-text);
  font-size: var(--fs-500);
}

.snippet__title a {
  color: inherit;
  text-decoration: none;
}

.snippet__title a:hover,
.snippet__title a:focus {
  color: var(--active-text1);
} 

@media (min-width: 45em) {
  .snippet {
    grid-template-areas:
      "title image"
      "meta image"
      "body image"
      "button image";
    grid-column-gap: 4em;
    grid-template-columns: 1fr 40%;
    grid-template-rows: min-content min-content min-content 1fr;
  }
}

.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1.75em;
  border-radius: 0.25em;
  align-self: start;
  justify-self: start;
}

.btn:focus {
  outline: 0.125em solid var(--active-text);
  outline-offset: 0.25em;
}

.btn--primary {
  background-color: var(--active-text1);
  background-image: linear-gradient(-180deg,var(--active-text1) , var(--active-text2));
  font-weight: var(--fw-700);
  outline: 0;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  transform: scale(1);
  cursor: pointer;
  user-select: none;
  color: var(--main-text);
}
.btn--primary:hover,
.btn--primary:focus,
form .send-btn:hover,
form .send-btn:focus {
  box-shadow: 0 4px 10px var(--active-text2);
  transform: scale(0.98);
}

.btn--neutral {
  background-color: var(--section-odd);
  color: var(--normal-text);
  font-weight: var(--fw-700);
  border: 1px solid var(--normal-text);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--main-text);
  background: linear-gradient(0deg, var(--active-text2), transparent);
}